@model IEnumerable<NVC1521050560.Models.Person>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>People</h2>

<p>
    @Html.ActionLink("tao moi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersionID })
        </td>
    </tr>
}

</table>
